* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

header {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: .5fr 3fr;
    background-color: rgb(227, 213, 152);
    border-radius: 40px;
    margin: auto 25vmin;
}

.game-control {
    display: flex;
    justify-content: center;
}

.game-pin {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
}

.accuracy {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;

}
.guess-input {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
}

.guess {
    border-radius: 50%;
}

.guess-pin {
    border: 1px solid red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.accuracy-pin {
    border: 1px solid red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: chocolate;
}

.win-popup {
    visibility: hidden;
}

.lose-popup {
    visibility: hidden;
}

#start {
    background-color: lime;
    padding: 1rem;
    border-radius: .25rem;
    margin-bottom: 1rem;
}
#red {
    background-color: red;
    width: 25px;
    height: 25px;
}
#blue {
    background-color: blue;
    width: 25px;
    height: 25px;
}
#yellow {
    background-color: yellow;
    width: 25px;
    height: 25px;
}
#green {
    background-color: green;
    width: 25px;
    height: 25px;
}
#black {
    background-color: black;
    width: 25px;
    height: 25px;
}
#white {
    background-color: white;
    width: 25px;
    height: 25px;
}

#answer {
    /* border: 2px solid blue */
}
#leave-empty {
    /* border: 2px solid blue; */
    visibility: hidden;
}

