* {
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace, sans-serif;
    text-shadow: 5px 7px 4px darkslategray;
}

body {
    background-color: goldenrod;
}

main {
    display: grid;
    position: relative;
    grid-template-columns: .5fr 3fr;
    background-color: rgb(227, 213, 152);
    border: 3px solid brown;
    box-shadow: 7px 7px 5px brown;
    border-radius: 40px;
    margin: auto;
    max-width: 500px;
    z-index: -1;
}

.game-control {
    display: flex;
    justify-content: center;
}

.game-pin {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
}

.accuracy {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.guess-input {
    display: flex;
    justify-content: center;
}

.guess-dock {
    display: flex;
    justify-content: center;
}

.guess-action {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
}

.dock-pin {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: gray;
    margin: 1rem;
}

.guess {
    border-radius: 50%;
    box-shadow: 2px 5px 2px black;
    margin: 1rem;
}

.guess-pin {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.accuracy-pin {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: chocolate;
    margin: 0 0.1rem;
}

.popup {
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    z-index: 9999;
    text-align: center;
    background-color: rgb(227, 213, 152);
    margin: 300px auto;
    max-width: 500px;
}

.instructions-popup {
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
    z-index: 9999;
    text-align: center;
    background-color: rgb(227, 213, 152);
    margin: 160px auto;
    max-width: 400px;
}

.popup-buttons{
    display: flex;
    justify-content: space-evenly;
}

#start {
    background-color: lime;
    padding: 1rem;
    border-radius: .25rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

#instructions {
    background-color: lime;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

#close {
    background-color: lime;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

#play-again{
    background-color: lime;
    padding: 1rem;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

#quit {
    background-color: lime;
    padding: 1rem;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

#erase {
    background-color: lime;
    padding: 1rem;
    border-radius: .25rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

#submit {
    background-color: lime;
    padding: 1rem;
    border-radius: .25rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

#red {
    background-color: red;
    width: 25px;
    height: 25px;
}

#blue {
    background-color: blue;
    width: 25px;
    height: 25px;
}

#yellow {
    background-color: yellow;
    width: 25px;
    height: 25px;
}

#green {
    background-color: green;
    width: 25px;
    height: 25px;
}

#black {
    background-color: black;
    width: 25px;
    height: 25px;
}

#white {
    background-color: white;
    width: 25px;
    height: 25px;
}

#leave-empty {
    visibility: hidden;
}

